#cur-weather {
	margin-top: 25px;
	margin-left: auto;
	margin-right: auto;
}
#city {
	font-family: 'New Rocker', cursive;
	font-size: 22px;
}
#temp {
	font-size:22px;
	font-family: 'Annie Use Your Telescope', cursive;
}
#icon-img {
}
#skycon-img {
}