#cur_weather {
	font-family: 'Ceviche One', cursive;
	margin-top: 25px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-radius: 10px;
	box-shadow:1px 1px 10px 2px grey;
}
#city{
	font-weight: 800;
	font-size: 30px;
}
#temp {
	font-size:30px;
}
#max_min {
	font-size: 22px;
}
#cond {
	font-size:22px;
}
#summ, #temp_icon{
	text-align: center;
}
#more {
	font-size: 20px;
	padding-left: 5px;
	cursor: pointer;
}